.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
android/local.properties
android/app/src/main/java/io/flutter/plugins/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
